# Python
__pycache__/
*.py[cod]
*.sqlite3

# Django
backend/static/
backend/media/
.env
backend/.env

# Node
node_modules/
frontend/.next/
frontend/node_modules/
frontend/dist/

# VSCode
.vscode/
.idea/

# Mac
.DS_Store
frontend/out/
